<!-- Spotlight -->
<div class="spotlight" ng-class='randomColor'>
    
  <!-- Container -->
  <div class="container-fluid">
      
      <!-- Row -->
      <div class="row">
          
          <!-- Column  -->
          <div class="col-xs-12">
              
              <!-- Header -->
              <h1>Courses</h1>
              
              <!-- Captain -->
              <p>Browse available courses and add them to your favorites or track planner.</p>
              
          </div>
                   
      </div>
      
  </div>
    
</div>



<!-- Container -->
<div class="container-fluid">
    
    <!-- Row -->
    <div class="row">
        
        <!-- Column -->
        <div class="col-xs-12">
            
            <div class="filter-bar" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <a href="#"><span class="caret"></span> Filters</a>
            </div>
            
            <div class="collapse" id="collapseExample">
            	<div class="radio">
                	<label>
                    	<input type="radio" name="filter" value="recomended">
                        Recomended
                    </label>
                </div>
                <div class="radio">
                	<label>
                    	<input type="radio" name="filter" value="fav">
                        With My Skills
                    </label>
                </div>
                <div class="radio">
                	<label>
                    	<input type="radio" name="filter" value="all">
                        All
                    </label>
                </div>
            </div>
            <div class="courses">
            Courses
            </div>
            <div class="courselist">
                <div class="row" ng-repeat="course in courses">
                    <div class="recomended col-xs-12">
                        <div class="c-head row">
                            <div class="arrow col-xs-1">
                            
                            </div>
                            <div class="col-xs-10">
                                {{course.number}} - {{course.name}}
                            </div>
                            <div class="star col-xs-1">
                            
                            </div>
                        </div>
                        <div class="row details">
                            <div class="col-xs-12 text-green">{{course.credits}} Credits</div>
                            <div class="col-xs-12">
                                <p><span class="text-green">Recently Offered:</span></p>
                            </div>
                            <div class="col-xs-12" ng-repeat="past in course.past_offered">
                                <p>
                                    CRN:{{past.crn}}<br>Section: {{past.section}}<br><span ng-hide="!past.start_date.length">Start Date: {{past.start_date}} </span><span ng-hide="!past.end_date.length">End Date: {{past.end_date}}</span>
                                </p>
                                <div>
                                    <div class="col-xs-12" ng-repeat="scheduled in past.scheduled" ng-hide="!past.scheduled.length">
                                        <p ng-hide="!scheduled.length">
                                            Scheduled: {{scheduled.days}} {{scheduled.start_time}} - {{scheduled.end_time}} in {{scheduled.room}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                            <p>Instructor: {{course.instructor}}<br>Number Enrolled: {{course.enrolled}}<br>Max Enrollment: {{course.max_enrollment}}</p>
                            </div>
                            <div class="col-xs-12">
                                <p><span class="text-green">Description:</span>
                                <br>{{course.description}}</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            
         </div>
    
    </div>

</div>
