<!-- Spotlight -->
<div class="spotlight" ng-class='randomColor'>
    
  <!-- Container -->
  <div class="container-fluid">
      
      <!-- Row -->
      <div class="row">
          
          <!-- Column  -->
          <div class="col-xs-12">
              
              <!-- Header -->
              <h1>Courses</h1>
              
              <!-- Captain -->
              <p>Browse available courses and add them to your favorites or track planner.</p>
              
          </div>
                   
      </div>
      
  </div>
    
</div>



<!-- Container -->
<div class="container-fluid listTemp">
    
    <!-- Row -->
    <div class="row">
        
        <!-- Column -->
        <div class="col-xs-12">
            
            <div class="titleContainer" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                <h4 class="setTitle" ng-click="isCollapsed = !isCollapsed">Filters<i class="fa fa-caret-down"></i></h4>
            </div>
            
            <div collapse="!isCollapsed">
                <p>Sort by: 
                    <select ng-model="courseSort">
                        <option value="number">Course Number</option>
                        <option value="name">Course Name</option>
                        <option value="credits">Credit Hours</option>
                    </select>
                </p>
                <p>Search: <input type="text" ng-model="search.$" />
                </p>
            </div>
            <div class="titleContainer">
                <h4 class="setTitle">
            Courses
            </h4>
            </div>
            <div class="courselist">
                <div class="row" ng-repeat="course in courses | orderBy:courseSort | filter:search">
                    <div class="recomended col-xs-12">
                        <div class="titleContainer" data-toggle="collapse" data-target="#collapseCourse" aria-expanded="false" aria-controls="collapseCourse">
                            <h4 class="setTitle" ng-click="isCollapsedCourse = !isCollapsedCourse">{{course.number}} - {{course.name}}<i class="fa fa-caret-down"></i></h4>
                        </div>
                        
                        <div class="row details" collapse="!isCollapsedCourse">
                            
                            <div class="col-xs-11 text-green">{{course.credits}} Credits</div>
                            <div class="col-xs-1 text-right" 
                                 data-ng-class="{favoriteCourse : toggle}" 
                                 data-ng-click="toggle = !toggle" 
                                 data-ng-init="toggle = false">
                                <span class="menu"><i class="fa fa-heart"></i></span></div>
                            <div class="col-xs-12">
                                <p><span class="text-green">Recently Offered:</span></p>
                            </div>
                            <div class="col-xs-12" ng-repeat="past in course.past_offered">
                                <p>
                                    CRN:{{past.crn}}<br>Section: {{past.section}}<br><span ng-hide="!past.start_date.length">Start Date: {{past.start_date}} </span><span ng-hide="!past.end_date.length">End Date: {{past.end_date}}</span>
                                </p>
                                <div>
                                    <div class="col-xs-12" ng-repeat="scheduled in past.scheduled" ng-hide="!past.scheduled.length">
                                        <p ng-hide="!scheduled.length">
                                            Scheduled: {{scheduled.days}} {{scheduled.start_time}} - {{scheduled.end_time}} in {{scheduled.room}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                            <p>Instructor: {{course.instructor}}<br>Number Enrolled: {{course.enrolled}}<br>Max Enrollment: {{course.max_enrollment}}</p>
                            </div>
                            <div class="col-xs-12">
                                <p><span class="text-green">Description:</span>
                                <br>{{course.description}}</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            
         </div>
    
    </div>

</div>
