
  <div class="filter-bar" data-toggle="collapse" data-target="#collapseSkills" aria-expanded="false" aria-controls="collapseSkills">
    <h4><a href="#"><span class="caret"></span> Filters</a></h4>
  </div><!--end .filter-bar-->

  <div class="collapse" id="collapseSkills">
      <div class="row employers">
        <h4 class="col-sm-12">Employers</h4>
        <div class="checkbox col-sm-6" ng-repeat="emp in employers">
            <input type="checkbox" id="{{emp.name}}" name="cb"
                    ng-model="searchSkills"
                    ng-click="check(emp.skill)">
            <label for="{{emp.name}}">{{emp.name}}</label>
        </div><!--end .checkbox-->

        <!-- Test select box for filtering...this can be removed if wanted -->
        <div class="selectWrapper col-sm-12">
            <select ng-model="searchSkills" class="col-xs-12">
                <option value="">All</option>
                <option ng-repeat="emp in employers" value="{{emp.name}}">{{emp.name}}</option>
            </select>
        </div><!--end .rearchWrapper-->
      </div><!--end .row employers-->

      <div class="row jobs">
          <h4 class="col-sm-12">Jobs</h4>
          <div class="jobSearchWrapper col-sm-12"
              <label>Job Title</label>
              <div class="right-inner-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="search"
                        class="form-control"
                        placeholder="Start Typing"
                        ng-model="search" />
              </div><!--end .right-inner-addon-->
          </div><!--end .jobSearchWrapper -->
      </div><!--end .row jobs-->



      <div class="row ind-skills">
        <div class="filter-bar">
            <h4 class="col-sm-12">Skills</h4>
        </div><!--end filter-bar-->
          <ul class="skillList col-sm-12" ng-repeat="skillset in employers | filter:searchSkills">
              <li class="skillItem" ng-repeat="indSkill in skillset.skill | filter:search">
                  <div class="skill col-xs-10" >{{indSkill}}</div>
                  <div class="favorite col-xs-2"></div>
              </li><!--end .skillItem-->
          </ul><!--end .skillList-->
      </div><!--end .row indskills-->
  </div><!-- end.collapse #collapseSkills -->
