<!-- Spotlight -->
<div class="spotlight" ng-class='randomColor'>
    
  <!-- Container -->
  <div class="container-fluid">
      
      <!-- Row -->
      <div class="row">
          
          <!-- Column  -->
          <div class="col-xs-12">
              
              <!-- Header -->
              <h1>Tracks</h1>
              
              <!-- Captain -->
              <p>Plan your semester!</p>
              
          </div>
                   
      </div>
      
  </div>
    
</div>



<!-- Container -->
<div class="container-fluid">
    
    <!-- Row -->
    <div class="row">
        
        <!-- Column -->
        <div class="col-xs-12">

<div class="starter-template">
    <h1>Tracks</h1>
    <p class="lead">See all your tracks here.</p>

    Search: <input ng-model="search"> <br />

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#addNewSemester">
        Add New Semester
    </button><br />

    Filter By Tracks:<br />
    <input type="checkbox" ng-click="includesTracks('recommended')"/> Recommended</br/>
    <input type="checkbox" ng-click="includesTracks('custom1')"/> Custom 1</br/>
    <input type="checkbox" ng-click="includesTracks('custom2')"/> Custom 2</br/>

    <select ng-model="search.track">
        <option value="recommended">Recommended</option>
        <option value="custom1">Custom 1</option>
        <option value="custom2">Custom 2</option>
    </select>


    <ul>
        <li ng-repeat="track in tracks | filter:trackFilter | filter:search | orderBy:orderProp">

            <div class="titleContainer" data-toggle="collapse" data-target="#collapseSemester" aria-expanded="false" aria-controls="collapseSemester">
                <h4 class="setTitle" ng-click="isCollapsed = !isCollapsed">{{track.semester}}</h4>
            </div>
            <div collapse="isCollapsed" id="{{track.order}}">
                <div class="row" ng-repeat="classes in track.classes">
                    <div class="recomended col-xs-12">
                        <div class="c-head row">
                            <div class="arrow col-xs-1">

                            </div>
                            <div class="col-xs-10">
                                {{classes.crnum}} {{classes.crtitle}}
                            </div>
                            <div class="star col-xs-1">

                            </div>
                        </div>
                        <div class="row details">
                            <div class="col-xs-6 text-green">{{classes.crhours}} Credits</div><div class="col-xs-6 text-right text-green"><span ng-if="course.fallsem"> Fall</span><span ng-if="course.springsem"> Spring</span><span ng-if="course.summersem"> Summer</span></div>
                            <div class="col-xs-12">
                                <p><span class="text-green">Prerequisites:</span>
                                    <br>{{classes.prereq}}</p>
                            </div>
                            <div class="col-xs-12">
                                <p><span class="text-green">Description:</span>
                                    <br>{{classes.crdesc}}</p>
                            </div>
                        </div>

                    </div>
                </div>

                <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#addNewCourse">
                    Add New Course
                </button><br />

                <p>{{track.note}}</p>



            </div><!-- end.collapse #collapseSemester -->
        </li>
    </ul>





</div>

        </div></div></div>
