/* ---------------------------------------- Base Styles */

// Foundation
html {height: 100%;}
body {
    height: inherit;
    background: $gray-high;
    overflow-x: hidden;
    @include typography(14px, 0.5px, 200);
}

// App Wrapper
.app-wrapper {
    
    display: block;
    width: 100%;
    height: inherit;
    
    // Open
    &.open {
            
        margin-left: -$header-nav-width;
                
        // Tablet
        @media #{$tablet}{margin-left: 0px;}
        
    }
    
}

// Container
.container-fluid {
    
    // Desktop
    @media #{$desktop}{max-width: 1200px;}
    
}
.content-wrapper {padding: $pad-md;}


// Typography
p {margin: 5px 0px 7px 0px;}
h1 {@include typography(32px, 1px, 500); margin: 5px 0px 10px 0px;}
h2 {@include typography(30px, 1px, 500); margin: 5px 0px 10px 0px;}
h3 {@include typography(28px, 1px, 400); margin: 5px 0px 10px 0px;}
h4 {@include typography(26px, 1px, 400); margin: 5px 0px 10px 0px;}
h5 {@include typography(24px, 1px, 300); margin: 5px 0px 10px 0px;}
h6 {@include typography(22px, 1px, 300); margin: 5px 0px 10px 0px;}

// Lists
ul {}
ol {}

// Links
a {
    color: $red;
    text-decoration: none;
    @include animate(200ms);
    &:hover {color: $red-lowest;}
}

// Buttons
.button {
    
    padding: 20px;
    color: white !important;
    background: $gray-mid !important;
    border: 0px !important;
    border-bottom: 3px solid $gray !important;
    cursor: pointer;
    display: block;
    max-width: 200px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    @include radius();
    @include animate(200ms);
    
    // Icon
    i.fa {margin-right: 10px;}
    
    &:hover {background: $gray !important;}
    
    // Red
    &.red {
        
        background: $red !important;
        border-color: $red-low !important;
        
        // Hover
        &:hover {background: $red-low !important;}
        
    }
    
    // Green
    &.green {
        
        background: $green-mid !important;
        border-color: $green !important;
        
        // Hover
        &:hover {background: $green !important;}
        
    }
    
}