/* ---------------------------------------- Favorite Styles */

.userFavorites {
    
    // Main Title
    .titleContainer {
        
        // Base
        background: $green-high;
        padding: 5px 20px;
        border-bottom: 5px solid $green-mid;
        cursor: pointer;
        position: relative;
        @include animate(200ms);
        @include radius(10px);
        
        // Title
        .setTitle {
            
            // Base
            @include typography(25px, 1.5px, 500);
            color: white;
            text-transform: uppercase;
            margin: 0px;
            
            // Icon
            i.fa {
                
                // Base
                position: absolute;
                top: 50%;
                margin-top: -10px;
                right: 20px;
                z-index: 20;
                
            }
            
        }
        
        // Hover
        &:hover {background: $green; border-color: $green;}
        
    }
    
    // Sub Items
    .items {
        
        // Base
        margin-top: 25px;
        
        // Sub Titles
        .titleContainer {
            
            // Base
            background: white;
            margin-bottom: 10px;
            border-color: $gray-mid;
            
            // Title
            .setTitle {
                
                // Base
                @include typography(20px, 1.5px, 300);
                
                // Icon
                i.fa.favFav {color: $red;}
                
            }
            
        }

        // Description
        .sub-items-desc p {
            
            // Base
            margin: 20px 0px;
            background: $blue;
            color: white;
            padding: 20px;
            @include radius(10px);
            
            
        }
        
    }
    
}