/* ---------------------------------------- Footer Styles */

// Footer
footer {
    
    // Foundation
    background: $blue;
    color: white;
    text-align: center;
    height: $footer-height;
    position: absolute;
    bottom: 0;
    width: 100%;
    
    p {
        
        height: inherit;
        line-height: $footer-height;
        margin: 0px;
        
    }
    
}

// Open Footer Styles
footer.open {
    
    margin-left: -$header-nav-width;
    
    @media #{$tablet}{margin-left: 0px;}
    
}