/* ---------------------------------------- Footer Styles */

// Sticky Footer Push
.sticky-footer-push {
    
    min-height: 100%;
    margin-bottom: -$footer-height;
    
    // After
    &:after {
        
        content: "";
        display: block;
        height: $footer-height;
        
    }
    
}

// Footer
footer {
    
    background: $blue;
    color: white;
    text-align: center;
    height: $footer-height;
    width: 100%;
    margin-top: 20px;
    
    p {
        
        height: inherit;
        line-height: $footer-height;
        margin: 0px !important;
        
    }
    
}