/* ---------------------------------------- Skills Page ---*/
//filters
body{
  background:$white;
}

.contentSet.skills{
  .titleContainer{
    margin-bottom:$pad;
  }
}

.skillList{
  @include clear();
}
.skillList{
  @include clear();
}
.skillItem{
  @include radius();
  @include clear();
  margin-top:6px;
  background:$white;

  .skill{
    padding:$pad;
  }

  .favorite{
    padding:$pad-md;
  }
  .fa{
    float:right;
  }

  .skill{
    color:$green;
  }
}
.titleContainer {
    cursor:pointer;
}
