/* ---------------------------------------- Spotlight Styles */

// Spotlight
.spotlight {
    
    // Background
    background-color: $blue;
    padding: 30px 0px;
    text-align: center;
    margin-bottom: 20px;
    
    // Tablet
    @media #{$tablet}{
        
        padding: 40px 0px;
        text-align: left;
        
    }
    
    // Header
    h1 {
        
        color: white;
        margin: 0px 0px 20px 0px;
        
        // Tablet
        @media #{$tablet}{
            
            @include typography(60px, 1px, 400);
            color: white;
            
        }
        
    }
    
    // Paragraph
    p {
        
        color: white;
        margin: 0px 0px 20px 0px;
        
    }
    
    // Link
    a {
        
        margin: 0px auto;
        
        // Tablet
        @media #{$tablet}{
            
            margin: 0px;
            
        }
        
    }
    
    // Images
    img {
        
        width: 100%;
        height: auto;
        margin: 30px 0px 0px 0px;
        
        @media #{$small}{margin: 0px;}
        
    }
    
}