/* ====================
    Variables
==================== */

// -------- App

    // Fixes
    $prefixes: ("-webkit-","-moz-", "-ms-", "-o-", "");
    
    // Padding
    $pad: 10px;
    $pad-sm: $pad / 2;
    $pad-md: $pad * 2;
    $pad-lg: $pad * 4;

// -------- Colors

    // White
    $white: #FFF;

    // Gray
    $gray: #84868c;
    $gray-mid: lighten($gray, 20%);
    $gray-high: lighten($gray, 40%);

    // Blue
    $blue: #4d82b2;

    // Green
    $green: #3f643f;
    $green-mid: #548454;
    $green-high: #71ad7a;

    // Red
    $red: #e86e38;
    $red-low: darken($red, 15%);
    $red-lowest: darken($red, 20%);

    // Black
    $black-blue: #383c40;
    $black-blue-mid: lighten($black-blue, 5%);
    $black-blue-high: lighten($black-blue, 10%);


// -------- Media Queries

    // Default
    $tablet: "screen and (min-width: 970px)";
    $desktop: "screen and (min-width: 1200px)";

// -------- Header

    // Sizes
    $header-height: 75px;
    $header-nav-width: 80%;

// -------- Footer

    // Sizes
    $footer-height: 100px;

/* ====================
    Mixins
==================== */

// -------- Display

    // Fixes
    @mixin prefix($property, $value){
        @each $prefix in $prefixes {
            #{$prefix}#{$property}: #{$value};
        }
    }
    @mixin clear(){
        &:before, &:after {
            content: "\0020";
            display: block;
            height: 0;
            overflow: hidden;
        }
        &:after {clear: both;}
    }

    // Text
    @mixin typography($font-size, $letter-spacing, $font-weight){
        font-family: "Helvetica Neue", Helvetica, Arial;;
        color: #666666;
        letter-spacing: $letter-spacing;
        line-height: $font-size + 12px;
        font-weight: $font-weight;
        font-size: $font-size;
    }

    // Rounded Corners
    @mixin radius($value: 5px){@include prefix(border-radius, $value);}
    @mixin radius-specify($top-left: 5px, $top-right: 5px, $bottom-right: 5px, $bottom-left: 5px){
        @include prefix(border-top-left-radius, $top-left);
        @include prefix(border-top-right-radius, $top-right);
        @include prefix(border-bottom-left-radius, $bottom-left);
        @include prefix(border-bottom-right-radius, $bottom-right);
    }
   
// -------- Animations

    // General
    @mixin animate($speed){@include prefix(transition, all $speed linear);}
