/* ====================
    Variables
==================== */

// -------- Colors
    //white
    $white:#fff;

    // Gray
    $gray: #84868c;
    $gray-mid: lighten($gray, 20%);
    $gray-high: lighten($gray, 40%);

    // Blue
    $blue: #4d82b2;

    // Green
    $green: #3f643f;
    $green-mid: #548454;
    $green-high: #71ad7a;

    // Red
    $red: #e86e38;
    $red-low: darken($red, 15%);
    $red-lowest: darken($red, 20%);

    // Black
    $black-blue: #383c40;
    $black-blue-mid: lighten($black-blue, 5%);
    $black-blue-high: lighten($black-blue, 10%);

    // -------- Padding
    $pad:10px;
    $pad-sm:$pad/2;
    $pad-md:$pad*2;
    $pad-lg:$pad*4;


// -------- Media Queries

    // Default
    $tablet: "screen and (min-width: 970px)";
    $desktop: "screen and (min-width: 1200px)";

// -------- Header

    // Sizes
    $header-height: 100px;
    $header-nav-width: 80%;

// -------- Footer

    // Sizes
    $footer-height: 100px;

/* ====================
    Mixins
==================== */
$prefixes: ("-webkit-","-moz-", "-ms-", "-o-", "");

@mixin prefix($property, $value) {
  @each $prefix in $prefixes {
    #{$prefix}#{$property}: #{$value};
  }
}

@mixin clear() {
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }//after
}//clear

@mixin transition($property: all, $timing: 200ms, $method: ease-in-out){
  $value: $property $timing $method;
  @include prefix(transition, $value);
}


// -------- Display

    // Text
    @mixin typography($font-size, $letter-spacing, $font-weight){
        font-family: "Helvetica Neue", Helvetica, Arial;;
        color: #333333;
        letter-spacing: $letter-spacing;
        line-height: $font-size + 12px;
        font-weight: $font-weight;
        font-size: $font-size;
    }

    // Rounded Corners
    @mixin radius($value:4px){
      @include prefix(border-radius, $value);
    }

    @mixin rounded-corners($top-left, $top-right, $bottom-right, $bottom-left){
        border-top-left-radius: $top-left;
        border-top-right-radius: $top-right;
        border-bottom-left-radius: $bottom-left;
        border-bottom-right-radius: $bottom-right;
        -webkit-border-top-left-radius: $top-left;
        -webkit-border-top-right-radius: $top-right;
        -webkit-border-bottom-left-radius: $bottom-left;
        -webkit-border-bottom-right-radius: $bottom-right;
        -moz-border-top-left-radius: $top-left;
        -moz-border-top-right-radius: $top-right;
        -moz-border-bottom-left-radius: $bottom-left;
        -moz-border-bottom-right-radius: $bottom-right;
    }
// -------- Animations

    // General
    @mixin animate($speed){
        transition: all $speed linear;
    	-moz-transition: all $speed linear;
    	-webkit-transition: all $speed linear;
    }
