<div class="filter-bar" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  <a href="#"><span class="caret"></span> Filters</a>
</div>

<div class="collapse" id="collapseExample">
	<div class="radio">
    	<label>
        	<input type="radio" name="filter" value="recomended">
            Recomended
        </label>
    </div>
    <div class="radio">
    	<label>
        	<input type="radio" name="filter" value="my">
            With My Skills
        </label>
    </div>
    <div class="radio">
    	<label>
        	<input type="radio" name="filter" value="all">
            All
        </label>
    </div>
</div>
<div class="courses">
Courses
</div>
<div class="courselist">
    <div class="row">
        <div class="recomended col-xs-12">
            <div class="c-head row">
                <div class="arrow col-xs-1">
                
                </div>
                <div class="col-xs-10">
                    DGM 2190 Game Languages 1
                </div>
                <div class="star col-xs-1">
                
                </div>
            </div>
            <div class="row details">
                <div class="col-xs-6 text-green">3 Credits</div><div class="col-xs-6 text-right text-green">Fall, Winter</div>
                <div class="col-xs-12">
                    <p><span class="text-green">Prerequisites:</span>
                    <br>DGM 1090</p>
                </div>
                <div class="col-xs-12">
                    <p><span class="text-green">Description:</span>
                    <br>Teaches basic scripting for games. Topics in this course include: understanding the writing process; writing effective sentences, paragraphs, and short essays; patterns of organization; rhetorical modes and purposes; audience analysis; the composing process; and editing.</p>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="my-skills col-xs-12">
            <div class="c-head row">
                <div class="arrow col-xs-1">
                
                </div>
                <div class="col-xs-10">
                    DGM 2190 Game Languages 1
                </div>
                <div class="star col-xs-1">
                
                </div>
            </div>
            <div class="row details">
                <div class="col-xs-6 text-green">3 Credits</div><div class="col-xs-6 text-right text-green">Fall, Winter</div>
                <div class="col-xs-12">
                    <p><span class="text-green">Prerequisites:</span>
                    <br>DGM 1090</p>
                </div>
                <div class="col-xs-12">
                    <p><span class="text-green">Description:</span>
                    <br>Teaches basic scripting for games. Topics in this course include: understanding the writing process; writing effective sentences, paragraphs, and short essays; patterns of organization; rhetorical modes and purposes; audience analysis; the composing process; and editing.</p>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="recomended col-xs-12">
            <div class="c-head row">
                <div class="arrow col-xs-1">
                
                </div>
                <div class="col-xs-10">
                    DGM 2190 Game Languages 1
                </div>
                <div class="star favorite col-xs-1">
                
                </div>
            </div>
            <div class="row details">
                <div class="col-xs-6 text-green">3 Credits</div><div class="col-xs-6 text-right text-green">Fall, Winter</div>
                <div class="col-xs-12">
                    <p><span class="text-green">Prerequisites:</span>
                    <br>DGM 1090</p>
                </div>
                <div class="col-xs-12">
                    <p><span class="text-green">Description:</span>
                    <br>Teaches basic scripting for games. Topics in this course include: understanding the writing process; writing effective sentences, paragraphs, and short essays; patterns of organization; rhetorical modes and purposes; audience analysis; the composing process; and editing.</p>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="my-skills col-xs-12">
            <div class="c-head row">
                <div class="arrow col-xs-1">
                
                </div>
                <div class="col-xs-10">
                    DGM 2190 Game Languages 1
                </div>
                <div class="star favorite col-xs-1">
                
                </div>
            </div>
            <div class="row details">
                <div class="col-xs-6 text-green">3 Credits</div><div class="col-xs-6 text-right text-green">Fall, Winter</div>
                <div class="col-xs-12">
                    <p><span class="text-green">Prerequisites:</span>
                    <br>DGM 1090</p>
                </div>
                <div class="col-xs-12">
                    <p><span class="text-green">Description:</span>
                    <br>Teaches basic scripting for games. Topics in this course include: understanding the writing process; writing effective sentences, paragraphs, and short essays; patterns of organization; rhetorical modes and purposes; audience analysis; the composing process; and editing.</p>
                </div>
            </div>
            
        </div>
    </div>
</div>