<!-- Spotlight -->
<div class="spotlight" ng-class="randomColor">

  <!-- Container -->
  <div class="container-fluid">

      <!-- Row -->
      <div class="row">

          <!-- Column -->
          <div class="col-xs-12">

              <!-- Header -->
              <h1>{{header}}</h1>
              
              <!-- Text -->
              <p>{{message}}</p>

          </div>

      </div>

  </div>

</div>

<!-- User Favorites -->
<div class="container-fluid userFavorites">
    <div class="row">
        <div class="col-xs-12">
            <div class="contentSet">
                <div class="titleContainer" data-toggle="collapse" data-target="#collapseFavorites" area-expand="false" aria-controls="collapseFavorites">
                    <h4 class="setTitle" ng-click="isCollapsed = !isCollapsed">Favorite Classes<i class="fa fa-angle-down"></i></h4>
                </div>
                <div collapse="isCollapsed" class="items">
                    <div class="padding">
                        <div class="contentSet" ng-repeat="fav in favoriteClasses">
                            <div class="titleContainer" data-toggle="collapse" data-target="#collapseDesc" area-expand="false" aria-controls="collapseDesc">
                                <h4 class="setTitle" ng-click="isCollapsed2 = !isCollapsed2">{{fav.name}}
                                    <i class="fa fa-heart" data-ng-class="{favFav : toggle}" data-ng-click="toggle = !toggle" data-ng-init="toggle = true"></i>
                                </h4>
                            </div>
                            <div collapse="!isCollapsed2" class="sub-items-desc">
                                <div class="padding">
                                    <p>{{fav.desc}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid userFavorites">
    <div class="row">
        <div class="col-xs-12">
            <div class="contentSet">
                <div class="titleContainer" data-toggle="collapse" data-target="#collapseFavorites" area-expand="false" aria-controls="collapseFavorites">
                    <h4 class="setTitle" ng-click="isCollapsed3 = !isCollapsed3">Favorite Skills<i class="fa fa-angle-down"></i></h4>
                </div>
                <div collapse="isCollapsed3" class="items">
                    <div class="padding">
                        <div class="contentSet" ng-repeat="fav in favoriteSkills">
                            <div class="titleContainer" data-toggle="collapse" data-target="#collapseDesc" area-expand="false" aria-controls="collapseDesc">
                                <h4 class="setTitle" ng-click="isCollapsed4 = !isCollapsed4">{{fav.name}}
                                    <i class="fa fa-heart" data-ng-class="{favFav : toggle}" data-ng-click="toggle = !toggle" data-ng-init="toggle = true"></i>
                                </h4>
                            </div>
                            <div collapse="!isCollapsed4" class="sub-items-desc">
                                <div class="padding">
                                    <p>{{fav.desc}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>