<!-- Spotlight -->
<div class="spotlight">

  <!-- Container -->
  <div class="container-fluid">

      <!-- Row -->
      <div class="row">

          <!-- Column 1 -->
          <div class="col-xs-12 col-sm-6">

              <!-- Header -->
              <h1>DGM Competency Browser {{message}}{{test}}</h1>

              <!-- Captain -->
              <p>Use this document as a way to quickly start any new project.  All you get is this text and a mostly barebones HTML document.</p>

               <!-- Button -->
               <a href="#" class="button red">Learn More</a>

          </div>

          <!-- Column 2 -->
          <div class="col-xs-12 col-sm-6">

              <!-- Spotlight -->
              <img src="images/devices.png" alt="devices" />

          </div>

      </div>

  </div>

</div>

<!-- Content -->
<div class="container-fluid tagline">
    
    <!-- Row -->
    <div class="row">
        
        <!-- Column -->
        <div class="col-xs-12">
            <h1>Lorem ipsum dolor sit amet</h1>
            <p>Duis justo eros, tincidunt id quam a, placerat tempor felis. Donec id volutpat nulla. Sed efficitur diam volutpat, gravida lorem id, cursus risus. Proin orci neque, tincidunt sed ultricies vel, efficitur nec nulla. Curabitur mollis egestas metus finibus finibus. Maecenas nibh felis, viverra a orci vel, viverra posuere lectus.</p>
        </div>
        
    </div>

</div>

<!-- Content -->
<div class="container-fluid triple">
    
    <!-- Row -->
    <div class="row">
        
        <!-- Column -->
        <div class="col-xs-12 col-md-4">
            <i class="fa fa-cloud-upload"></i>
            <h1>Lorem ipsum dolor</h1>
            <p>Duis justo eros, tincidunt id quam a, placerat tempor felis. Donec id volutpat nulla.</p>
        </div>
        
        <!-- Column -->
        <div class="col-xs-12 col-md-4">
            <i class="fa fa-diamond"></i>
            <h1>Donec nulla sapien</h1>
            <p>Donec nulla sapien, molestie in mollis ac, malesuada et sem. Ut aliquam urna ac enim tristique hendrerit.</p>
        </div>
        
        <!-- Column -->
        <div class="col-xs-12 col-md-4">
            <i class="fa fa-dropbox"></i>
            <h1>Suspendisse a risus</h1>
            <p>Duis justo eros, tincidunt id quam a, placerat tempor felis. Donec id volutpat nulla. Sed efficitur diam volutpat.</p>
        </div>
        
    </div>

</div>

<!-- Content -->
<div class="container-fluid logos">
    
    <!-- Row -->
    <div class="row">
        
        <!-- Column -->
        <div class="col-xs-12">
            <h3>Employers</h3>
            <ul>
                <li><a href="#"><img src="images/logos/adobe.png" alt="adobe logo"/></a></li>
                <li><a href="#"><img src="images/logos/art_task.png" alt="art task logo"/></a></li>
                <li><a href="#"><img src="images/logos/domo.png" alt="domo logo"/></a></li>
                <li><a href="#"><img src="images/logos/lds_church.png" alt="lds church logo"/></a></li>
            </ul>
        </div>
        
    </div>

</div>
