<!-- Spotlight -->
<div class="spotlight homepage">
    
  <!-- Container -->
  <div class="container-fluid">
      
      <!-- Row -->
      <div class="row">
          
          <!-- Column 1 -->
          <div class="col-xs-12 col-sm-6">
              
              <!-- Header -->
              <h1>DGM Competency Browser {{message}}</h1>
              
              <!-- Captain -->
              <p>Use this document as a way to quickly start any new project.  All you get is this text and a mostly barebones HTML document.</p>
              
               <!-- Button -->
               <a href="#" class="button red">Learn More</a>
              
          </div>
          
          <!-- Column 2 -->
          <div class="col-xs-12 col-sm-6">
              
              <!-- Spotlight -->
              <img src="images/devices.png" alt="devices" />
              
          </div>
          
      </div>
      
  </div>
    
</div>
