<!-- Spotlight -->
<div class="spotlight" ng-class="randomColor">

  <!-- Container -->
  <div class="container-fluid">

      <!-- Row -->
      <div class="row">

          <!-- Column -->
          <div class="col-xs-12">

              <!-- Header -->
              <h1>{{userName}}</h1>
              
              <!-- Text -->
              <p>{{userProgram}}</p>

          </div>

      </div>

  </div>

</div>

<!-- Content -->
<div class="container-fluid studentProfile">
    
    <!-- Student ID Bar -->
    <div class="row studentIDBar">
        
        <!-- Student ID -->
        <div class="col-xs-12 col-sm-6 studentID">
            <p><strong>Student ID: </strong>{{studentID}}</p>
        </div>
        
        <!-- Edit Profile -->
        <div class="col-xs-12 col-sm-6 editProfile">
            <button class="button green"><a ui-sref="editProfile">Edit Profile</a></button>
        </div>
        
    </div>
    
    <!-- Student Information -->
    <div class="studentInfo">
        
        <!-- Row -->
        <div class="row studentAbout">
            
            <!-- Basic -->
            <div class="col-xs-12 col-md-6 basic">
                <h1>About {{userName}}</h1>
                <p>Etiam vestibulum luctus risus eget ultricies. Nullam commodo, eros id bibendum efficitur, est elit feugiat ex, non ornare justo turpis interdum libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc vel faucibus nisi.</p>
            </div>
            
            <!-- Contact -->
            <div class="col-xs-12 col-md-6 contact">
                <h1>Contact Info</h1>
                <p><strong>Phone: </strong> 801-654-1123</p>
                <p><strong>Email: </strong> <a href="mailto:student@student.com">student@student.com</a></p>
            </div>
            
        </div>
        
    </div>
    
    <!-- Competencies -->
    <div class="studentComp">
        
        <!-- Row -->
        <div class="row">
            
            <!-- Column -->
            <div class="col-xs-12">
                
                <h1>My Competencies</h1>
                <ul>
                    <li><i class="fa fa-check"></i>AngularJS</li>
                    <li><i class="fa fa-check"></i>WordPress</li>
                    <li><i class="fa fa-check"></i>JavaScript</li>
                    <li><i class="fa fa-check"></i>jQuery</li>
                    <li><i class="fa fa-check"></i>Drupal</li>
                    <li><i class="fa fa-check"></i>Node, Bower, and Grunt</li>
                    <li><i class="fa fa-check"></i>CSS, LESS, and SASS</li>
                </ul>
                
            </div>
            
        </div>
        
    </div> 
    
</div>