<div class="">
  <input type="text" ng-model="person.fname" placeholder="First Name" class="radius">
  <input type="text" ng-model="person.lname" placeholder="Last Name"  class="radius">
  <input type="text" ng-model="person.email" placeholder="Email" class="radius">
  <input type="text" ng-model="person.emailComf" placeholder="Email Confirmation" class="radius">
  <input type="password" ng-model="person.password" placeholder="Password" class="radius">
  <button label="Register" ng-click="registerUser()" class="button tiny right radius">Submit</button>
</div>
