<form name="registerForm">
  <span>{{errors}}</span><br>
  <input type="text" ng-model="person.fname" placeholder="First Name" required><br>
  <input type="text" ng-model="person.lname" placeholder="Last Name" required><br>
  <input type="text" ng-model="person.email" placeholder="Email" required><br>
  <input type="text" ng-model="person.emailConf" placeholder="Email Confirmation" required><br>
  <input type="password" ng-model="person.password" placeholder="Password" required><br>
  <button label="Register" ng-click="registerUser()" class="button tiny right radius">Submit</button>
</form>
