<div class="filter-bar" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  <a href="#"><span class="caret"></span> Filters</a>
</div>

<div class="collapse" id="collapseExample">
  <div class="employers">

    <h4>Employers</h4>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Adobe
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        At Task
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Domo
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        LDS Church
      </label>
    </div>

    <h4>Jobs</h4>
      <label>Job Title</label>
        <div class="right-inner-addon ">
          <i class="glyphicon glyphicon-search"></i>
          <input type="search"
          class="form-control"
          placeholder="Start Typing" />
        </div>

  </div>
</div>
